[GOOGLE]
API_KEY = 

[OPENAI]
API_KEY = 

[PROMPT]
DESCRIPTION = 

[TWITTER]
ENABLE = FALSE
API_KEY = 
API_SECRET_KEY = 
ACCESS_TOKEN = 
ACCESS_TOKEN_SECRET = 

[YOUTUBE]
CHANNEL_ID = 
CHANNEL_NAME = 

[DISCORD_LOG]
WEBHOOK = 
DEBUG = FALSE
INFO = FALSE
WARNING = FALSE
ERROR = FALSE
CRITICAL = FALSE